@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 221 39% 11%;
    --primary: 166 27% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 164 42% 88%;
    --secondary-foreground: 221 39% 11%;
    --muted: 218 11% 65%;
    --border: 221 14% 90%;
  }
  .dark {
    --background: 221 39% 11%;
    --foreground: 0 0% 98%;
    --primary: 166 27% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 164 42% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 218 11% 65%;
    --border: 221 14% 30%;
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
